<head>
  <title>Berlin things</title>
  <link href='/locations/style.css' rel='stylesheet'>

  <nav class="navigation">
    <a href="/index.html">Berlin things</a>
    <a href="/aboutme.html">About Me</a>
    <a href="/login.html">log in</a>
  </nav>
</head>